<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Azure App Service ARR: 요청 타임아웃 10분 -->
    <httpPlatform requestTimeout="00:10:00" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
